@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background-color: #F5F5F5;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container{
    display: flex;
}

.logo-container h1{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 8px;
}

nav {
    display: inline-block;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  
  a {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #4F5665;
    text-decoration: none;
  }
  
p {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #4F5665;
}

.sign-in button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.sign-up button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F53855;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    border: 1.5px solid #F53855;
    background-color: transparent;
}

.sign-up button:hover {
    background-color: #ecbebe;
    transition: 0.5s;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

main {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    height: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

main button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    border: none;
    box-shadow: 5px 15px 15px #f0a7a7;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

main img {
    width: 520px;
}

.align-icons {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 1020px;
    height: 200px;
    background-color: #fdfdfd;
    border: 1px solid rgb(225, 225, 225);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 15px 15px #e5dfdf;

}

.icons h1 {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.icon-1,
.icon-2,
.icon-3 {
    display: flex;
    justify-content: space-between;
}

.icon-1 img,
.icon-2 img,
.icon-3 img{
    margin-right: 30px;
}

.linha-vertical {
    height: 110px;
    border-left: 2px solid #EEEFF2;
  }

.provide {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.provide h1 {
    font-size: 35px;
}

.check-1,
.check-2,
.check-3,
.check-4 {
    display: flex;
}

.check-1 img,
.check-2 img,
.check-3 img,
.check-4 img{
    padding-right: 15px;
}

.text-provide {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.choose {
    width: 100%;
    height: 1150px;
    display: flex;
    flex-direction: column;
}

.choose h1{
    font-size: 35px;
}

.align-cards {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-text {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-1 h1,
.card-2 h1,
.card-3 h1{
    font-size: 18px;
}

.card-1:hover,
.card-2:hover,
.card-3:hover{
    background-color: #f0e3e3;
    transition: 1.5s;
}

.card-1, 
.card-2{
    width: 330px;
    height: 760px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
 
.card-3 {
    width: 330px;
    height: 760px;
    border-radius: 10px;
    border: 2px solid #F53838;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h2 {
    color: #0B132A;
    font-size: 25px;
    font-family: "Rubik", sans-serif; 
    display: flex;
}

.text-h p {
    font-size: 25px;
}

.text-h {
    display: flex;
}

.ok {
    display: flex;
    gap: 20px;
}

.card-1 button,
.card-2 button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F53855;
    border-radius: 40px;
    width: 177px;
    height: 45px;
    border: 2px solid #F53855;
    background-color: transparent;
}

.card-3 button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 40px;
    width: 177px;
    height: 45px;
    background-color: #F53838;
    box-shadow: 5px 10px 10px #ecbebe;
}